
tbody {
    background-color: #1b325dba;
}
.seeders-number {
    color: lightgreen;
    text-align: right;
}
.leechers-number {
    color: lightcoral;
    text-align: right;
}
.torrent-size {
    text-align: right;
}
.torrent-file-name {
    font-size: 12px;
}
tr:hover {
    filter: brightness(1.3);
    background-color: #33466970;
}
video {
    max-width: 640px;
    max-height: 480px;
}


#selected_video_ffmpeg_info {
    white-space: pre-wrap;
    max-height: 300px;
    overflow-y: auto;
    background-color: #eaeaea;
}

.stream-list span,
.stream-list span {
    margin: 0px 4px;
}

.stream-list span.bad-codec {
    color: red;
}
.stream-list span.good-codec {
    color: green;
}

.big-torrent {
    color: #ff5400;
}
.single-episode-torrent {
    color: #987c2a;
}
.small-torrent {
    color: grey;
}

.expanded-torrent-block {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
}

.media-info-section > div {
    margin-top: 6px;
}

tbody.files-in-torrent > tr[data-file-extension="srt"],
tbody.files-in-torrent > tr[data-file-extension="ass"],
tbody.files-in-torrent > tr[data-file-extension="aac"] {
    /* external subs/audio files, should not be of big interest to user */
    color: grey;
    opacity: 0.7;
}

tbody.files-in-torrent > tr[data-file-extension="mp4"],
tbody.files-in-torrent > tr[data-file-extension="mkv"],
tbody.files-in-torrent > tr[data-file-extension="mpg"],
tbody.files-in-torrent > tr[data-file-extension="avi"],
tbody.files-in-torrent > tr[data-file-extension="mov"] {
    /* actual video files, the main thing that should interest the user */
    font-weight: bold;
}