
tbody {
    background-color: #06255dde;
}
.seeders-number {
    color: lightgreen;
    text-align: right;
}
.seeders-number.suspicious-seeds {
    color: #485d48;
}
.leechers-number {
    color: lightcoral;
    text-align: right;
}
.torrent-size {
    text-align: right;
}
.torrent-file-name {
    font-size: 12px;
    max-width: 480px;
}
.torrent-file-name.poor-quality-recording {
    color: #907235;
}
td.infohash {
    width: 260px;
    overflow-wrap: anywhere;
    font-size: 10px;
    text-transform: lowercase;
    font-family: monospace;
}
table.resulting-list-of-torrents {
    width: 100%;
}
.swarm-info-container {
    white-space: pre-wrap;
    font-family: monospace;
    max-height: 600px;
    overflow-y: auto;
}
.search-results-table-container {
    background-image: url(../assets/img/bg_4k_zeppelin_pov_no_margin.jpg);
    background-repeat: no-repeat;
    background-position-y: 380px;
    background-position-x: center;
    background-size: contain;
}
tr:not(.expanded-view-row):hover {
    filter: brightness(1.3);
    background-color: #33466970;
}
video {
    max-width: 960px;
    max-height: 720px;
}

#selected_video_ffmpeg_info {
    white-space: pre-wrap;
    max-height: 300px;
    overflow-y: auto;
    background-color: #eaeaea;
}

.stream-list span,
.stream-list span {
    margin: 0px 4px;
}

.stream-list span.bad-codec {
    color: red;
}
.stream-list span.good-codec {
    color: green;
}
.stream-list [data-codec-type="attachment"] {
    color: grey;
    opacity: 0.7;
}

.expanded-torrent-block {
    justify-content: space-between;
    display: flex;
    font-size: 12px;
}
.expanded-torrent-block * {
    font-size: 12px;
}
.file-list-cont {
    max-height: 600px;
    overflow-y: auto;
}

.media-info-section > div {
    margin-top: 6px;
}

tbody.files-in-torrent > tr[data-file-extension="srt"],
tbody.files-in-torrent > tr[data-file-extension="ass"],
tbody.files-in-torrent > tr[data-file-extension="aac"],
tbody.files-in-torrent > tr[data-file-extension="jpg"] {
    /* external subs/audio files, should not be of big interest to user */
    color: grey;
}

tbody.files-in-torrent > tr[data-file-extension="mp4"],
tbody.files-in-torrent > tr[data-file-extension="mkv"],
tbody.files-in-torrent > tr[data-file-extension="mpg"],
tbody.files-in-torrent > tr[data-file-extension="avi"],
tbody.files-in-torrent > tr[data-file-extension="mov"],
tbody.files-in-torrent > tr[data-file-extension="flac"] {
    /* actual video files, the main thing that should interest the user */
    color: #b3ffff;
}

tr.was-watching .torrent-file-name,
tbody.files-in-torrent > tr.watched-in-past {
    color: #cd40f9;
}
tr.viewed-file {
    background-color: #288e7296;
}

.ffmpeg-info:not(.can-change-audio-track) [name="selectedAudioTrack"],
.ffmpeg-info:not(.can-change-audio-track) audio {
    display: none;
}
.filters-panel {
    display: flex;
}
.filters-panel > * {
    margin: 0 14px;
}
#media_types_whitelist {
    display: flex;
}
#media_types_whitelist [data-media-type] {
    display: flex;
}
#media_types_whitelist [data-media-type] > * {
    margin: 0 4px;
}
.css-filtered-list.media-type-excluded--unknown tr[data-media-type="unknown"],
.css-filtered-list.media-type-excluded--music tr[data-media-type="music"],
.css-filtered-list.media-type-excluded--book tr[data-media-type="book"],
.css-filtered-list.media-type-excluded--video tr[data-media-type="video"] {
    display: none;
}

label[data-size-decimal-category="less-than-1mb"], tr[data-size-decimal-category="less-than-1mb"] .torrent-size { color: #90b16f; }
label[data-size-decimal-category="1mb-10mb"], tr[data-size-decimal-category="1mb-10mb"] .torrent-size { color: #78b83d; }
label[data-size-decimal-category="10mb-100mb"], tr[data-size-decimal-category="10mb-100mb"] .torrent-size { color: #589929; }
label[data-size-decimal-category="100mb-500mb"], tr[data-size-decimal-category="100mb-500mb"] .torrent-size { color: #a4b66c; }
label[data-size-decimal-category="500mb-2gb"], tr[data-size-decimal-category="500mb-2gb"] .torrent-size { color: #efe761; }
label[data-size-decimal-category="2gb-10gb"], tr[data-size-decimal-category="2gb-10gb"] .torrent-size { color: #deb42c; }
label[data-size-decimal-category="10gb-100gb"], tr[data-size-decimal-category="10gb-100gb"] .torrent-size { color: #ba5b1e; }
label[data-size-decimal-category="more-than-100gb"], tr[data-size-decimal-category="more-than-100gb"] .torrent-size { color: #950505; }

.css-filtered-list.size-decimal-category-excluded--less-than-1mb tr[data-size-decimal-category="less-than-1mb"],
.css-filtered-list.size-decimal-category-excluded--1mb-10mb tr[data-size-decimal-category="1mb-10mb"],
.css-filtered-list.size-decimal-category-excluded--10mb-100mb tr[data-size-decimal-category="10mb-100mb"],
.css-filtered-list.size-decimal-category-excluded--100mb-500mb tr[data-size-decimal-category="100mb-500mb"],
.css-filtered-list.size-decimal-category-excluded--500mb-2gb tr[data-size-decimal-category="500mb-2gb"],
.css-filtered-list.size-decimal-category-excluded--2gb-10gb tr[data-size-decimal-category="2gb-10gb"],
.css-filtered-list.size-decimal-category-excluded--10gb-100gb tr[data-size-decimal-category="10gb-100gb"],
.css-filtered-list.size-decimal-category-excluded--more-than-100gb tr[data-size-decimal-category="more-than-100gb"] {
    display: none;
}

label, input[type="checkbox"] {
    cursor: pointer;
}

.live-seeds-holder {
    color: cyan;
    font-weight: bold;
    margin-right: 6px;
    cursor: help;
}

a.open-infohash {
    white-space: nowrap;
}

.tracker-cell-content {
    display: flex;
    align-items: center;
    column-gap: 3px;
}
img.tracker-logo {
    width: 16px;
    height: 16px;
    object-fit: contain;
}