<head>
    <title>kunkka-torrent - stream media to browser</title>
    <meta charset="utf-8"/>
    <link rel="icon" href="./../favicon.ico"/>
    <link rel="stylesheet" href="../styles/common.css"/>
    <link rel="stylesheet" href="./search.css"/>
</head>

<body>
    <header>
        <div class="header-text-block-space">
            <div class="header-title-with-search-form">
                <div class="header-main-title">
                    <a href="https://kunkka-torrent.online">
                        <span class="kunkka-color">kunkka</span>-<span class="torrent-color">torrent</span>
                    </a>
                </div>
                <div>
                    <form method="get" action="./search.html">
                        <input required="required" placeholder="Type file name here" name="pattern" type="text"/>
                        <select name="category">
                            <option selected value="all">All categories</option>
                            <option disabled="">──────────</option>
                            <option value="anime">Anime</option>
                            <option value="books">Books</option>
                            <option value="games">Games</option>
                            <option value="movies">Movies</option>
                            <option value="music">Music</option>
                            <option value="pictures">Pictures</option>
                            <option value="software">Software</option>
                            <option value="tv">TV shows</option>
                        </select>
                        <input type="hidden" name="plugins" value="all"/>
                        <button>Search</button>
                    </form>
                </div>
            </div>
            <p class="title-secondary-text">Torrent contents online browser - just click and play, no need to download to PC</p>
        </div>
        <div class="header-image-remainder-space"></div>
    </header>

    <div id="status_text">Loading...</div>

    <table class="resulting-list-of-torrents">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Leechers</th>
                <th>Seeders</th>
                <th>Magnet (Download) Link</th>
                <th>View in Tracker</th>
            </tr>
        </thead>
        <tbody id="search_results_list"></tbody>
    </table>

<script type="module" src="./search.js"></script>

</body>