<head>
    <title>Torrent Contents Explorer: Search</title>
    <meta name="description" content="Open files in browser, no need to download to PC"/>
    <meta name="keywords" content="piratebay, thepiratebay, rutracker, nyaa pantsu">

    <meta property="twitter:site" content="@kunkka-torrent">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:image:src" content="https://kunkka-torrent.online/assets/img/kunkka-torrent-masked.png">
    <meta property="twitter:title" content="Torrent Contents Explorer">
    <meta property="twitter:description" content="Open files in browser, no need to download to PC">

    <!-- FB, VK i drugie -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Torrent Contents Explorer">
    <meta property="og:description" content="Open files in browser, no need to download to PC">
    <meta property="og:image" content="https://kunkka-torrent.online/assets/img/kunkka-torrent-masked.png">
    <meta property="og:image:width" content="640">
    <meta property="og:image:height" content="300">

    <meta charset="utf-8"/>
    <link rel="icon" href="./../favicon.ico"/>
    <link rel="stylesheet" href="../styles/common.css"/>
    <link rel="stylesheet" href="./search.css"/>
</head>

<body>
    <div id="react-app-root-container"></div>

<script type="module" src="./search.js"></script>
<script src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

<script src="https://klesun-misc.github.io/dev_data/common/js/Tls.js"></script>

</body>
